<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Thongchai Wirojsakseree - Full-Stack Developer, Trader, Dreamer</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  <link rel='shortcut icon' type='image/x-icon' href='favicon.ico' />
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-144x144-precomposed.png">
  <link href="/stylesheets/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/normalize.min.css">
  <link rel="stylesheet" href="/stylesheets/font-awesome.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/superhero.css">
  <script src="/js/jquery-1.10.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery-1.10.1.min.js"><\/script>')</script>
  <script src="/js/jquery.hashchange.min.js"></script>
  <script src="/js/jquery.easytabs.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="/js/html5shiv.js"><\/script>')</script>
      <![endif]-->
</head>
  <body class="bg-fixed bg-1">
<!--[if lt IE 7]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->
   <div class="main-container">
    <div class="main wrapper clearfix">
      <!-- Header Start -->
        <header id="header">
            <div id="logo">
                <h2>
                    Thongchai Wirojsakseree
                </h2>
                <h4>
                    Full-Stack Developer
                </h4>
            </div>
        </header>
        <!-- Header End -->
        <!-- Main Tab Container -->
        <div id="tab-container" class="tab-container">
          <!-- Tab List -->
            <ul class='etabs'>
                <li class='tab' id="tab-about">
                  <a href="#about"><i class="icon-user"></i><span> About Me</span></a>
                </li>
                <li class='tab'>
                  <a href="#resume"><i class="icon-file-text"></i><span> Resume (CV)</span></a>
                </li>
                <li class='tab'>
                  <a href="#portfolio"><i class="icon-heart"></i><span> Portfolio</span></a>
                </li>
                <li class='tab'>
                  <a href="#contact"><i class="icon-envelope"></i><span> Contact</span></a>
                </li>
            </ul>
          <!-- End Tab List -->
            <div id="tab-data-wrap">
              <!-- About Tab Data -->
                <div id="about">
                    <section class="clearfix">
                        <div class="g2">
                            <div class="photo">
                            	<img class="" src="images/myPicture.jpg" alt="">
                            </div>
                            <div class="info">
                                <h2>
                                    Thongchai Wirojsakseree
                                </h2>
                                <h4>
                                    Full-Stack Developer
                                </h4>
                                <p>
                                    I am a full-stack developer with a strong programming background. For many years, I have been developing strong programming skills, algorithms, data structures and machine learning techniques. I also implemented many projects in C/C++, Java, JavaScript, Python and other computer languages. With innovative ideas, these projects have disrupted the traditional solutions and reduced a significant cost such as a visited museum app. On my free time, I also attend many online courses and many programming competitions such as Hacker Rank and Hackathon. In Hackathon, I have an excellence chance to discuss and learn with many experts in many technology areas as same as sharing many innovative ideas to change human’s life. In the meantime, I developed various useful skills such as fast-learning, problem-solving and adaptive skill. As a result, I have received many winner prizes in many hackathons such as BlackRock's Hackathon 2015.
                                </p>
                            </div>
                        </div>
                        <div class="g1">
                            <div class="main-links sidebar">
                                <ul>
                                    <li>
                                        <a href="#resume">View My Resume</a>
                                    </li>
                                    <li>
                                        <a href="#portfolio">My Portfolio</a>
                                    </li>
                                    <li>
                                        <a href="#contact">Want to Hire me</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="break"></div>
                        <div class="contact-info">
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-envelope"></i>
                              <div class="item-data">
                                <h3><a href="mailto:chaitype@gmail.com">chaitype@gmail.com</a></h3>
                                <p>Email Address</p>
                              </div>
                            </div>
                          </div>
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-github"></i>
                              <div class="item-data">
                                <h3><a href="https://github.com/chai41104">Thongchai Wirojsakseree</a></h3>
                                <p>Github Profile</p>
                              </div>
                            </div>
                          </div>
                          <div class="g1">
                            <div class="item-box clearfix">
                              <i class="icon-linkedin"></i>
                              <div class="item-data">
                                <h3><a href="https://www.linkedin.com/in/thongchai-wirojsakseree/">Thongchai Wirojsakseree</a></h3>
                                <p>Linkedin Profile</p>
                              </div>
                            </div>
                          </div>
                        </div>
                    </section><!-- content -->
                </div>
              <!-- End About Tab Data -->
              <!-- Resume Tab Data -->
                <div id="resume">
                    <section class="clearfix">
                        <div class="g2">
							<div class="row">
				                <div class="col-lg-12 text-center">
				                	<h3>
				                    	Work Experiences And Education
				                    </h3>
				                </div>
				            </div>
							<div class="row">
				                <div class="col-lg-12">
				                    <ul class="timeline">
				                        <li>
				                            <div class="timeline-image">
				                                <img class="img-circle img-responsive" src="images/JPMorgan.png" alt="">
				                            </div>
				                            <div class="timeline-panel">
				                                <div class="timeline-heading">
				                                    <h5>Since Aug. 2016</h5>
				                                    <h5 class="subheading">Analyst Technology, at JPMorgan Chase Co.</h5>
				                                </div>
				                            </div>
				                        </li>
				                        <li class="timeline-inverted">
				                            <div class="timeline-image">
				                                <img class="img-circle img-responsive" src="images/Credit_Suisse.png" alt="">
				                            </div>
				                            <div class="timeline-panel">
				                                <div class="timeline-heading">
				                                    <h5>Jun. 2016 - Sep. 2016</h5>
				                                    <h5 class="subheading">Software Engineering Intern, at Credit Suisse</h5>
				                                </div>
				                                <!-- <div class="timeline-body">
				                                    <p class="text-muted"></p>
				                                </div> -->
				                            </div>
				                        </li>
				                        <li>
				                            <div class="timeline-image">
				                                <img class="img-circle img-responsive" src="images/UCL.png" alt="">
				                            </div>
				                            <div class="timeline-panel">
				                                <div class="timeline-heading">
				                                    <h5>2015 - 2016</h5>
				                                    <h5 class="subheading">MSc Financial Systems Engineering (Equal To Merit), at University College London (UCL)</h5>
				                                </div>
				                                <div class="timeline-body">
				                                   <!--  <p class="text-muted">Developed    an    algorithm trading        in    Quantopian    (Python)    with    240%    profit from       a    backtest    between    2002    and    2015. Built    web­app a window    phone    group    project    using    JS(jQuery),    Bootstrap,    C#    with    Microsoft    Team.</p> -->
				                                </div>
				                            </div>
				                        </li>
				                        <li class="timeline-inverted">
				                            <div class="timeline-image">
				                                <img class="img-circle img-responsive" src="images/Bristol_University.png" alt="">
				                            </div>
				                            <div class="timeline-panel">
				                                <div class="timeline-heading">
				                                    <h5>2012 - 2015</h5>
				                                    <h5 class="subheading">BSc Computer Science (2:1 honour with excellence in all taught modules), at University of Bristol</h5>
				                                </div>
				                                <div class="timeline-body">
				                                    <!-- <p class="text-muted">Written    simulation    a    analysis    programme    of trading       indicators    such    as    MACD,    RSI,    DMI in       Python. Developed    spam    a     filter    software to       classify    new   email    a     is    spam    or    not    with    Naive    Bayes    classifiers in       Java.</p> -->
				                                </div>
				                            </div>
				                        </li>
				                    </ul>
				                </div>
				            </div>

                       
                        </div>
                        <div class="g1">
                            <div class="sidebar">
                                <h3>
                                    Skills
                                </h3>
                                <h5>
                                    Programming Language
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 100%"><span>C(C++)</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 90%"><span>Java</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 90%"><span>jQuery/JavaScript</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 90%"><span>python</span></span>
                                </div>
                                <div class="meter midnight">
                                    <span style="width: 80%"><span>SQL</span></span>
                                </div>
                                <div class="break"></div>
                                <h5>
                                    Technology Area
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 100%"><span>Machine Learning</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 100%"><span>Algorithms and Data structures</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 80%"><span>Database</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 70%"><span>Multi­Threading</span></span>
                                </div>
                                <div class="meter midnight">
                                    <span style="width: 70%"><span>Image processing</span></span>
                                </div>
                                <div class="break"></div>
                                <h5>
                                    Backend
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 100%"><span>Flask</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 80%"><span>Node.js</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 50%"><span>Django</span></span>
                                </div>
                                <div class="break"></div>
                                <h5>
                                    Frontend
                                </h5>
                                <div class="meter emerald">
                                    <span style="width: 100%"><span>Bootstrap</span></span>
                                </div>
                                <div class="meter carrot">
                                    <span style="width: 100%"><span>jQuery</span></span>
                                </div>
                                <div class="meter wisteria">
                                    <span style="width: 70%"><span>HTML5</span></span>
                                </div>
                                <div class="meter midnight">
                                    <span style="width: 50%"><span>UI Designer</span></span>
                                </div>
                                <div class="break"></div>
                                <h5>
                                    Languages
                                </h5>
                                <div class="meter carrot">
                                    <span style="width: 100%"><span>Thai</span></span>
                                </div>
                                <div class="meter sunflower">
                                    <span style="width: 100%"><span>English</span></span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
              <!-- End Resume Tab Data -->
              <!-- Portfolio Tab Data -->
                <div id="portfolio">
                    <section class="clearfix">
			            <div class="row">
			                <div class="col-lg-12 text-center">
			                    <h3>Highlight Projects</h3>
			                </div>
			            </div>
			            <div class="row">
			                <div class="col-md-4 col-sm-6 portfolio-item">
			                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
			                        <div class="portfolio-hover">
			                            <div class="portfolio-hover-content">
			                                <i class="icon-play-circle"></i>
			                            </div>
			                        </div>
			                        <img src="images/Zombie_Apocalypse.png" class="img-demo" alt="">
			                    </a>
			                    <div class="portfolio-caption">
			                        <h4>Zombie Apocalypse</h4>
			                        <p class="text-muted">Game VR Hackathon project</p>
			                    </div>
			                </div>
			                <div class="col-md-4 col-sm-6 portfolio-item">
			                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
			                        <div class="portfolio-hover">
			                            <div class="portfolio-hover-content">
			                                <i class="icon-play-circle"></i>
			                            </div>
			                        </div>
			                        <img src="images/Diversity.png" class="img-demo" alt="">
			                    </a>
			                    <div class="portfolio-caption">
			                        <h4>Diversity</h4>
			                        <p class="text-muted">AI VR Hackathon project</p>
			                    </div>
			                </div>
			                <div class="col-md-4 col-sm-6 portfolio-item">
			                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
			                        <div class="portfolio-hover">
			                            <div class="portfolio-hover-content">
			                                <i class="icon-play-circle"></i>
			                            </div>
			                        </div>
			                        <img src="images/finvestbot.png" class="img-demo" alt="">
			                    </a>
			                    <div class="portfolio-caption">
			                        <h4>Finvestbot</h4>
			                        <p class="text-muted">ChatBot Hackathon project</p>
			                    </div>
			                </div>
			                <div class="col-md-4 col-sm-6 portfolio-item">
			                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
			                        <div class="portfolio-hover">
			                            <div class="portfolio-hover-content">
			                                <i class="icon-play-circle"></i>
			                            </div>
			                        </div>
			                        <img src="images/System_Risk.png" class="img-demo" alt="">
			                    </a>
			                    <div class="portfolio-caption">
			                        <h4>System Risk</h4>
			                        <p class="text-muted">System Risk Web application</p>
			                    </div>
			                </div>
			                <div class="col-md-4 col-sm-6 portfolio-item">
			                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
			                        <div class="portfolio-hover">
			                            <div class="portfolio-hover-content">
			                                <i class="icon-play-circle"></i>
			                            </div>
			                        </div>
			                        <img src="images/human_tetris.png" class="img-responsive" alt="">
			                    </a>
			                    <div class="portfolio-caption">
			                        <h4>Human Tetris</h4>
			                        <p class="text-muted">Game Webcam Hackathon project</p>
			                    </div>
			                </div>
			            </div>
                    </section>
                </div>
              <!-- End Portfolio Data -->
              <!-- Contact Tab Data -->
                <div id="contact">
                    <section class="clearfix">
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-globe"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>My Address</h4>
                              <p>Apartment 601, Phoenix Heights West, 142 Byng Street, London, E14 9AE</p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-envelope"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>Email (Prefer)</h4>
                              <p><e onclick="window.open('mailto:thongchai.wirojsakseree@gmail.com?subject=hi');"> thongchai.wirojsakseree@gmail.com</e></p>
                            </div>
                         </div>
                       </div>
                       <div class="g1">
                         <div class="sny-icon-box">
                           <div class="sny-icon">
                              <i class="icon-phone"></i>
                            </div>
                            <div class="sny-icon-content">
                              <h4>Mobile Number</h4>
                              <p>(+44)787-3124771</p>
                            </div>
                         </div>
                       </div>
                       <div class="break"></div>
                       
                    </section>
                </div>
              <!-- End Contact Data -->
            </div>
        </div>
        <!-- End Tab Container -->
        <footer>
            <p>
                Thank you for your time :)
            </p>
        </footer>

        <!-- Portfolio Modals -->
	    <!-- Use the modals below to showcase details about your portfolio projects! -->

	    <!-- Portfolio Modal 1 -->
	    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="close-modal" data-dismiss="modal">
	                    <div class="lr">
	                        <div class="rl">
	                        </div>
	                    </div>
	                </div>
	                <div class="container">
	                    <div class="row">
	                        <div class="col-lg-8 col-lg-offset-2">
	                            <div class="modal-body">
	                                <!-- Project Details Go Here -->
	                                <h2>Zombie Apocalypse</h2>
	                                <p class="item-intro text-muted">Game VR Hackathon project</p>
	                                <img class="img-responsive img-centered" src="images/Zombie_Apocalypse.png" alt="">
	                                <p>The idea behind our mini-game (Zombie Apocalypse) was to build a small but intuitive VR experience using the Oculus Rift and the Touch Controllers while playing with the emotions of the player (mainly fear and happiness) and I think succeeded quite well!</p>
									<p><strong><a href="https://experiments.samuelcardillo.com/project/zombieapocalypse">Project website</a></strong></p>
	                                <p><strong><a href="https://aframe.io/blog/awoa-59/">Highlight by A-Frame</a></strong></p>
	                                <ul class="list-inline">
	                                    <li>Date: April 2017</li>
	                                    <li>Category: Game VR</li>
	                                </ul>
	                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <!-- Portfolio Modal 2 -->
	    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="close-modal" data-dismiss="modal">
	                    <div class="lr">
	                        <div class="rl">
	                        </div>
	                    </div>
	                </div>
	                <div class="container">
	                    <div class="row">
	                        <div class="col-lg-8 col-lg-offset-2">
	                            <div class="modal-body">
	                                <h2>Diversity</h2>
	                                <p class="item-intro text-muted">AI VR Hackathon project</p>
	                                <img class="img-responsive img-centered" src="images/Diversity.png" alt="">
	                                <p>
	                                Diversity in an application developed during the VR-AI hackathon in central realities in March 2017 during 24 hours. Diversity uses Artificial Intelligence to understand human expressions to generate shapes and forms. Unity Game engine was used as a 3D platform to display the shapes. Diversity captures the voice of the user and sends the audio to Microsoft cognitive services. A Natural Language Programming developed inside of Unity check for inputs and generates the geometry according to a request. </p>
	                                <p><strong><a href="https://www.youtube.com/watch?v=6fNBITIH6Yk&t=2s">Video</a></strong></p>
	                                <ul class="list-inline">
	                                    <li>Date: March 2017</li>
	                                    <li>Category: AI VR</li>
	                                </ul>
	                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <!-- Portfolio Modal 3 -->
	    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="close-modal" data-dismiss="modal">
	                    <div class="lr">
	                        <div class="rl">
	                        </div>
	                    </div>
	                </div>
	                <div class="container">
	                    <div class="row">
	                        <div class="col-lg-8 col-lg-offset-2">
	                            <div class="modal-body">
	                                <!-- Project Details Go Here -->
	                                <h2>System Risk</h2>
	                                <p class="item-intro text-muted">System Risk Web application</p>
	                                <img class="img-responsive img-centered" src="images/System_Risk.png" alt="">
	                                <p>System Risk is a website to estimate the risk of the financial company in the crisis time.</p>
	                                <p><strong><a href="http://chai41104.github.io/">Demo</a></strong></p>
	                                <ul class="list-inline">
	                                    <li>Date: June 2016</li>
	                                    <li>Category: System Risk Webapp</li>
	                                </ul>
	                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>

	    <!-- Portfolio Modal 4 -->
	    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="close-modal" data-dismiss="modal">
	                    <div class="lr">
	                        <div class="rl">
	                        </div>
	                    </div>
	                </div>
	                <div class="container">
	                    <div class="row">
	                        <div class="col-lg-8 col-lg-offset-2">
	                            <div class="modal-body">
	                                <!-- Project Details Go Here -->
	                                <h2>Finvest</h2>
	                                <p class="item-intro text-muted">Finvest Chatbot</p>
	                                <img class="img-responsive img-centered" src="images/finvestbot.png" alt="">
	                                <p>We decided to address problem of Generation C of creative and connected and Millenials, who are largely forgotten / underserved by investment and wealth managers. 71% of them would rather go to dentist than listen to what bank says. Low interest rates offers returns which are next to none or negative.</p>
									<p>Our solution is Finvestbot, smart chatbot-advisor that uses the behavioural profiling to create disruptive and emotional dialog, providing high conversion rates of prospect investors into real ones. It personalises conversation to traits of our client, engaging with each user using ­machine learning to analyse spending from clients’ bank accounts data.</p>

									<p>Finvestbot will offer automated and fully personalised savings and investment strategies, making them as unique as each user and Gamified Goal Based Investing, Making clients fully engaged with their values, multiple goals and time horizons across various asset classes, such as Electronically Traded Funds, P2P lending, Equities and shares.</p>

									<p>We are a team of ex securities broker, Phd researcher and machine learning expert tapping into multitrillion market, where share of robo-advisors will increase 10X within 5 years according to Financial Times. It is currently underserved by investment advisors and wealth managers. We are planing to offer white label solutions for them, serving as a platform to create chatbots.</p>

									<p>We learned that forming team is not easy, but doable.</p>
	                                <p><strong><a href="https://devpost.com/software/finvestbot">Read More</a></strong></p>
	                                <ul class="list-inline">
	                                    <li>Date: December 2016</li>
	                                    <li>Category: Fintech Chatbot Hackathon</li>
	                                </ul>
	                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	    <!-- Portfolio Modal 5 -->
	    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
	        <div class="modal-dialog">
	            <div class="modal-content">
	                <div class="close-modal" data-dismiss="modal">
	                    <div class="lr">
	                        <div class="rl">
	                        </div>
	                    </div>
	                </div>
	                <div class="container">
	                    <div class="row">
	                        <div class="col-lg-8 col-lg-offset-2">
	                            <div class="modal-body">
	                                <!-- Project Details Go Here -->
	                                <h2>Human Tetris</h2>
	                                <p class="item-intro text-muted">Human Tetris</p>
	                                <img class="img-responsive img-centered" src="images/human_tetris.png" alt="">
	                                <p>Human tetris with your webcam. It is a game on webbrowser that you have to avoid the tetris to push you.</p>
									<p><strong><a href="https://gus.today/projects/human-tetris/">Demo</a></strong></p>
	                                <ul class="list-inline">
	                                    <li>Date: 2015</li>
	                                    <li>Category: Webapp Game Hackathon</li>
	                                </ul>
	                                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i>Close</button>
	                            </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
    </div><!-- #main -->
</div><!-- #main-container -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-99642991-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
